body {
    background-image: url("https://github.com/Daan-code-dev/Birthday-father/raw/main/confetti-6887206_640.webp");
    background-size: cover;
    color:white;
    text-align: center;
}
#test {
    margin-top: 200px;
}