* {
   background-color: #fefae0;
   color: black;
   text-align: center;
   font-family: sans-serif
 }

p {
    font-size: 25px
}
h2 {
    font-size: 40px
}

h1 {
    font-size: 70px;
    font-weight: bold;
}
#gefeliciteerd {
    font-size: 100px;
    font-weight: bolder;
}

#introduction {
display: inline-block;
background-color:#606c38;
border: 7px solid black;
padding: 10px 40px;
width: 55%;
}
#introduction h2, #introduction p {
    background-color: #606c38;
}

#show-off {
display: inline-block;
}

#intro-show-off {
margin-bottom: 50px;
}

#box {
padding: 30px 15px;
border: 5px solid black;
background-color: #dda15e;
color: black;
margin-bottom: 20px;
} 

#box:hover {
padding: 40px 20px;
background-color: #bc6c25;
border: 5px solid black;
color: black;
}
#text-left {
text-align: left;
background-color: #588157;
color: black;
}

#text-right {
text-align: right;
background-color: #588157;
color: black;
}

#linear-gradient {
    display: inline-block;
    background: linear-gradient(to right, red, green, purple,  yellow );
    width: 40%;
    margin-right: 20px;
    height: 200px;
}
#radial-gradient {
display: inline-block;
background: radial-gradient(circle, red, green, purple, yellow);
width: 40%;
height: 200px;
}