* {
   background-color: #fefae0;
   color: black;
   text-align: center;
   font-family: sans-serif
 }

p {
    font-size: 25px
}
h2 {
    font-size: 40px
}

h1 {
    font-size: 70px;
    font-weight: bold;
}
#gefeliciteerd {
    font-size: 100px;
    font-weight: bolder;
}

#introduction {
display: inline-block;
background-color:#606c38;
border: 7px solid black;
padding: 10px 40px;
width: 55%;
color: white;
}
#introduction h2, #introduction p {
    background-color: #606c38;
}

#show-off {
display: inline-block;
}

#intro-show-off {
margin-bottom: 50px;
}

#box {
padding: 30px 15px;
border: 5px solid black;
background-color: #dda15e;
color: black;
margin-bottom: 20px;
} 

#box:hover {
padding: 40px 20px;
background-color: #bc6c25;
border: 5px solid black;
color: black;
}
#text-left {
text-align: left;
background-color: #588157;
color: black;
}

#text-right {
text-align: right;
background-color: #588157;
color: black;
}

#linear-gradient {
    display: inline-block;
    background: linear-gradient(to right, red, green, purple, yellow );
    width: 45%;
    margin-right: 20px;
    height: 300px;
}
#radial-gradient {

background: radial-gradient(circle, red, green, purple, yellow);

}
#linear-gradient, #radial-gradient {
    display: inline-block;
    width: 45%;
height: 300px;
 border-top: 10px solid red;
  border-right: 10px dashed green;
  border-bottom: 10px dotted blue;
  border-left: 10px double purple;
  padding: 10px;
}
.button-fake {
display: inline-block;
padding: 10px 20px;
margin: 10px;
border-radius: 25px;
background-color: orange;

}
.button-fake:hover {
    padding: 15px 30px;
    color: #bb3e03; 
}
.button-fake:visited {
    background-color: #9d0208;
    color: white;
}
figcaption {
    font-size: 35px;
    font-weight: bold;
}
.buttons {
width: 70%;

}