body {
    background-image: url("https://github.com/Daan-code-dev/Birthday-father/raw/f823e8d66becda00424b85a21569b2d352de817e/istockphoto-1062252008-612x612%20(1).jpg");
    background-size: cover;
    color:white;
    text-align: center;

}