* {
   background-color: #fefae0;
   color: black;
   text-align: center;
   font-family: sans-serif
 }

p {
    font-size: 25px
}
h2 {
    font-size: 40px
}

h1 {
    font-size: 70px;
    font-weight: bold;
}
#gefeliciteerd {
    font-size: 100px;
    font-weight: bolder;
}

#introduction {
display: inline-block;
background-color:#606c38;
border: 7px solid black;
padding: 10px 40px;
width: 55%;
}
#introduction h2,#introduction p {
    background-color: #606c38;
}

#show-off {
display: inline-block;
}

#intro-show-off {
margin-bottom: 400px;
}

#box {
padding: 30px 15px;
border: 5px solid blue;
background-color: red;
color: white;
margin-bottom: 20px;
} 

#box:hover {
padding: 40px 20px;
background-color: blue;
border: 5px solid red;
color: black;
}
#text-left {
text-align: left;
background-color: lightblue;
}

#text-right {
text-align: right;
background-color: lightgreen;
}
#show-off h1 {
font-size: 40px;
color: purple;
/*Add a link of a cat*/
background-image: url("");
}

#linear-gradient-show-off {
background: linear-gradient(to right, red, yellow);
}

#radial-gradient-show-off {
background: radial-gradient(from center to nearest side, yellow, blue);
}
